<!-- views/partials/footer.ejs -->

<!-- jQuery script -->
<script src="javascripts/jquery/dist/jquery.min.js"></script>


<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">©300558196 - Omid Khataee - COMP308 - Assignment 1</p>
    </div>
</footer>

