<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Assignment 1 - Using creative theme">
<meta name="author" content="Omid Khataee - 300558196">

<title>COMP308 Assignment 1 - <%= title %> </title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/stylesheets/dist/css/bootstrap.min.css"/>

<!-- Fonts -->
<link rel="stylesheet" type="text/css" href="/creative/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">

<!-- Plugin CSS -->
<link rel="stylesheet" href="/creative/vendor/magnific-popup/magnific-popup.css" >

<!-- Creative CSS -->
<link rel="stylesheet" href="/creative/css/creative.min.css"/>