<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Assignment 1 - Using creative theme">
<meta name="author" content="Omid Khataee - 300558196">

<title>COMP308 Assignment 1 - <%= title %> </title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/stylesheets/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
