<!-- 
File: sign.ejs
Author: Omid Khataee
Website: Assignment 1 - Express JS Server
Description: sign partial that shows a jumbotron div in the middle of each page
-->

  
<div class="jumbotron">
    <p class="welcome"><%= title %></p>
</div>