<!-- views/pages/contact.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ./partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Contact</h1>
        <p>Hello World!</p>
      </div>
    </main>

  </body>

  <% include ./partials/footer %>

</html>