<!-- 
File: error.ejs
Author: Omid Khataee
Website: Assignment 1 - Express JS Server
Description: web page displaying the error 404 page. very basic
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
