<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ./partials/header %>
    </header>

    <main>

      <div class="jumbotron">
        <p class="welcome">Welcome</p>
      </div>
      
      <div class="well text-center">
        Enjoy some of the pictures I 
        may or may not have taken while on my trip in Australia. Look
        at the rest of the site after enjoying my amazing alleged camera work.
        <br />
        <br />
        Apparently this is also my Assignment 1. Enjoy it I guess.
      </div>

      <div class="row">
        <div class="col-lg-7">
          <div class="col-lg-12">
            <img class="img-responsive" src="images/image1.jpg">
          </div>
          <div class="col-lg-12">
            <img class="img-responsive image2" src="images/image3.jpg">
          </div>
        </div>
        <div class="col-md-5 image3">
          <img class="img-responsive" src="images/image2.jpg">
        </div>
      </div>

    </main>

  </body>
      
  <% include ./partials/footer %>
 
</html>