<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ./partials/header %>
    </header>

    <main>

      <div class="jumbotron">
        <p>Welcome</h1>
      </div>
      
    </main>

  </body>
      
      <% include ./partials/footer %>
    
</html>