<!-- 
File: projects.ejs
Author: Omid Khataee
Website: Assignment 1 - Express JS Server
Description: web page displaying the projects page
-->

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ./partials/header %>
    </header>

    <main>

      <% include ./partials/sign %>

      <div class="page-header">
        <h1 class="text-uppercase">Semester 5</h1>
      </div>

      <div class="alert alert-success">
        <h4>Java EE</h4>
      </div>

      <p>Assignment 1 - Networking</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100" style="width:100%">
          <span class="sr-only">100% Complete</span>
        </div>
      </div>
      <p>Assignment 2 - Servelets</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10"
          aria-valuemin="0" aria-valuemax="100" style="width:10%">
          <span class="sr-only">10% Complete</span>
         </div>
      </div>

      <div class="alert alert-info">
        <h4>Emerging Technologies</h4>
      </div>

      <p>Assignment 1 - Express Server</p>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
          aria-valuemin="0" aria-valuemax="100" style="width:80%">
          <span class="sr-only">80% Complete</span>
         </div>
      </div>

      <div class="alert alert-warning">
        <h4>Systems Integration</h4>
      </div>

      <p>Assignment 1 - Part 1 Project</p>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50"
          aria-valuemin="0" aria-valuemax="100" style="width:50%">
          <span class="sr-only">50% Complete</span>
         </div>
      </div>
      <p>Assignment 1 - Presentation</p>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="15"
          aria-valuemin="0" aria-valuemax="100" style="width:15%">
          <span class="sr-only">15% Complete</span>
         </div>
      </div>   

      <div class="alert alert-danger">
        <h4>Software Project</h4>
      </div>    

      <p>Assignment - User Stories</p>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100" style="width:100%">
          <span class="sr-only">100% Complete</span>
         </div>
      </div>  

      <p>Assignment - Wireframes</p>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30"
          aria-valuemin="0" aria-valuemax="100" style="width:30%">
          <span class="sr-only">30% Complete</span>
         </div>
      </div>  

    </main>


  </body>

  <% include ./partials/footer %>

</html>