<!-- views/pages/services.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ./partials/header %>
    </header>

    <main>
    
      <% include ./partials/sign %>

        <div class="row">

          <div class="col-md-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <p class="text-center">Angular</p>
              </div>
              <div class="panel-body">
                <img class="img-responsive center-block services" src="images/angular-128.png">
              </div>
              <div class="panel-footer">
                <div class="text-center">
                  <span class="glyphicon glyphicon-usd"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <p class="text-center">Bootstrap</p>
              </div>
              <div class="panel-body">
                <img class="img-responsive center-block services" src="images/boostrap-128.png">
              </div>
              <div class="panel-footer">
                <div class="text-center">
                  <span class="glyphicon glyphicon-usd"></span>
                  <span class="glyphicon glyphicon-usd"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <p class="text-center">CSS</p>
              </div>
              <div class="panel-body">
                <img class="img-responsive center-block services" src="images/css-128.png">
              </div>
              <div class="panel-footer">
                <div class="text-center">
                  <span class="glyphicon glyphicon-usd"></span>
                  <span class="glyphicon glyphicon-usd"></span>
                  <span class="glyphicon glyphicon-usd"></span>
                  <span class="glyphicon glyphicon-usd"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <p class="text-center">HTML</p>
              </div>
              <div class="panel-body">
                <img class="img-responsive center-block services" src="images/html-128.png">
              </div>
              <div class="panel-footer">
                <div clas<!-- views/pages/contact.ejs -->s="text-center">
                  <span class="glyphicon glyphicon-usd"></span>
                  <span class="glyphicon glyphicon-usd"></span>
                  <span class="glyphicon glyphicon-usd"></span>
                  <span class="glyphicon glyphicon-usd"></span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <p class="text-center">jQuery</p>
              </div>
              <div class="panel-body">
                <img class="img-responsive center-block services" src="images/jquery-128.png">
              </div>
              <div class="panel-footer">
                <div class="text-center">
                  <span class="glyphicon glyphicon-usd"></span>
                  <span class="glyphicon glyphicon-usd"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <p class="text-center">nodeJS</p>
              </div>
              <div class="panel-body">
                <img class="img-responsive center-block services" src="images/nodejs-128.png">
              </div>
              <div class="panel-footer">
                <div class="text-center">
                  <span class="glyphicon glyphicon-usd"></span>
                  <span class="glyphicon glyphicon-usd"></span>
                  <span class="glyphicon glyphicon-usd"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <p class="text-center">Python</p>
              </div>
              <div class="panel-body">
                <img class="img-responsive center-block services" src="images/python-128.png">
              </div>
              <div class="panel-footer">
                <div class="text-center">
                  <span class="glyphicon glyphicon-usd"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="panel panel-primary">
              <div class="panel-heading">
                <p class="text-center">Ruby on Rails</p>
              </div>
              <div class="panel-body">
                <img class="img-responsive center-block services" src="images/ruby-rails-128.png">
              </div>
              <div class="panel-footer">
                <div class="text-center">
                  <span class="glyphicon glyphicon-usd"></span>
                </div>
              </div>
            </div>
          </div>

        </div>        

    </main>

  </body>

   <% include ./partials/footer %>

</html>