<!-- views/pages/services.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ./partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <p class="welcome">Services</p>
      </div>

      

    </main>

  </body>

   <% include ./partials/footer %>

</html>