.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #222;
    border-color: #080808;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.footer div p{
    margin-top: 20px;
}